@tailwind base;
@tailwind components;
@tailwind utilities;

/* App-specific tweaks (optional) */
.line-clamp-2 { /* in case plugin not yet built */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

